{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Editar Entrenamiento</h1>    
    {{ form(edit_form) }}
    <div class="row top-buffer">

        <div class="row top-buffer">    
    		{{ form(delete_form) }}
    	</div>
        <div class="row top-buffer">    
        <a href="{{ path('workoutcrud') }}" class="btn btn-large btn-block btn-default">
            Regresar al listado
        </a>
        <div>
	
</div>
{% endblock %}
