{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Creacion de Entrenamiento</h1>

    {{ form(form) }}
        <div class="row top-buffer">
         	<div class="span3">    
        		<a href="{{ path('workoutcrud') }}" class="btn btn-large btn-block btn-default">
            	Regresar al listado
        		</a>
        	</div> 
		</div>
{% endblock %}
